*,
*::after,
*::before {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Rubik';
	font-size: 14px;
	font-weight: 300;
}

.Todo-App {
	height: 100vh;
	background: #fafafa;
	padding: 2rem;
	display: flex;
	flex-direction: column;
}

.Todo-Form {
	background: #eeeeee;
	padding: 1rem;
}

.Todo-Form-Input {
	border: none;
	outline: none;
	background: none;

	display: block;
	border-bottom: 1px solid #333;
	font-family: 'Rubik';
	font-size: 18px;
	width: 100%;
	padding: .5rem .75rem;
}

.TodosList-Scroller {
	color: #fafafa;
	flex: 1;
	padding: 1rem;
	background: #333333;
}

.Scroller {
	height: 100%;
	overflow: auto;
}

.Todo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: .5rem .75rem;
	margin: .5rem 0;
}

.Todo-Title.Todo--done {
	filter: blur(2px);
}

.Todo-Title {
	font-size: 24px;
}

.Todo-Actions .Todo-Action {
	min-width: 100px;
	margin: 0 .5rem;
}

.Todo-Action {
	border: none;
	outline: none;
	background: none;

	padding: .5rem .75rem;
	font-size: 14px;
	background: #fafafa;
	border-radius: 2px;
	cursor: pointer;
}

.Todo-Archive {
	color: #ffffff;
	background: turquoise;
}